<div class="modal">
    <header class="bar bar-header bar-calm">
        <button class="button button-clear icon-left ion-arrow-left-a" ng-click="cancel()"></button>
        <h1 class="title">New Service</h1>
        <button class="button button-icon icon-left ion-checkmark" ng-click="done(data.name)">Done
        </button>
    </header>
    <content has-header="true">
        <div class="padding">
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">Name</span>
                    <input type="text" placeholder="" ng-model="data.name">
                </label>
                <div class="item item-text-wrap text-center"><p>The Service name is used by the <b>Scrambler</b> function. The name is always lower-cased before using in the <b>Scrambler</b>.</p></div>
            </div>
        </div>
    </content>
</div>