<div class="modal">
    <header class="bar bar-header bar-calm">
        <button class="button button-clear" ng-click="cancel()">Cancel
        </button>
        <h1 class="title">New Service</h1>
        <button class="button button-icon icon-left ion-checkmark" ng-click="done(data.name)">Done
        </button>
    </header>
    <content has-header="true">
        <div class="padding">
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">Name</span>
                    <input type="text" placeholder="" ng-model="data.name">
                </label>
            </div>
        </div>
    </content>
</div>