<div class="modal">
    <header class="bar bar-header bar-calm">
        <button class="button button-clear icon ion-close" ng-click="cancel()"></button>
        <h1 class="title">{{'edit_scrambler' | translate}}</h1>
        <button class="button button-clear icon ion-checkmark"
                ng-click="done(data.scramblerFunction)"></button>
    </header>
    <ion-content class="padding">
        <div class="text-center" translate="edit_scrambler_info1"></div>

        <h4>{{'service_name' | translate}}</h4>

        <ion-scroll direction="x" class="padding">
            <div class="row">
                <button ng-repeat="part in scramblerSetup.headServiceParts" class="button"
                        style="background-color:{{part.color}}"
                        ng-click="selectServicePart(part)">{{part.index}}
                </button>
                <button class="button icon ion-plus" ng-click="addServiceHead()"></button>
                <button class="button button-clear">...</button>
                <button class="button icon ion-plus" ng-click="addServiceTail()"></button>
                <button ng-repeat="part in scramblerSetup.tailServiceParts" class="button"
                        style="background-color:{{part.color}}"
                        ng-click="selectServicePart(part)">{{part.index}}
                </button>
            </div>
        </ion-scroll>
        <div translate="minimum_length" translate-value-length="{{scramblerSetup.headServiceParts.length +
                        scramblerSetup.tailServiceParts.length}}">
        </div>
        <div class="row">
            <div class="col text-center">
                <h1 class="ion-arrow-down-a" style="margin-bottom: -6px"></h1>
            </div>
        </div>

        <h4>{{'master_password' | translate}}</h4>
        <ion-scroll direction="x" class="padding">
            <div class="row">
                <button ng-repeat="part in scramblerSetup.headMasterParts" class="button"
                        style="background-color:{{part.color}}"
                        ng-click="selectMasterPart(part)">{{part.index}}
                </button>
                <button class="button icon ion-plus" ng-click="addMasterHead()"></button>
                <button class="button button-clear">...</button>
                <button class="button icon ion-plus" ng-click="addMasterTail()"></button>
                <button ng-repeat="part in scramblerSetup.tailMasterParts" class="button"
                        style="background-color:{{part.color}}"
                        ng-click="selectMasterPart(part)">{{part.index}}
                </button>
            </div>
        </ion-scroll>

        <div translate="minimum_length" translate-value-length="{{scramblerSetup.headMasterParts.length +
                        scramblerSetup.tailMasterParts.length}}">
        </div>
        <div class="padding-bottom padding-top text-center" translate="edit_scrambler_info2"></div>
        <button class="button button-block button-assertive"
                ng-click="resetScramblerFunction()">{{'btn_reset' | translate}}
        </button>
    </ion-content>
</div>