<div class="modal">
    <header class="bar bar-header bar-light">
        <button class="button button-clear button-positive icon-left ion-arrow-left-a" ng-click="cancel()"></button>
        <h1 class="title">Edit Scrambler</h1>
        <button class="button button-clear button-positive icon-left ion-checkmark"
                ng-click="done(data.scramblerFunction)">Done
        </button>
    </header>
    <content has-header="true">
        <div class="padding">
            <div class="list">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Scrambler Function</span>
                    <textarea rows="10" ng-model="data.scramblerFunction"></textarea>
                </label>
            </div>
        </div>
    </content>
</div>