<!--
  This template loads for the 'home' state (app.js)
-->
<content has-header="true">
    <div class="list">
        <label class="item item-input">
            <input id="master" type="text" placeholder="Master Password" ng-model="data.masterPassword"
                   ng-keyup="scrambleOnReturn($event)"/>
            <button class="button button-small button-clear icon-left ion-close-circled" ng-click="reset()"
                    ng-show="data.masterPassword">&#160;</button>
        </label>
        <label class="item item-input">
            <span class="input-label">Service</span>
            <select class="services" ng-model="data.service" ng-options="s.name for s in services"></select>
        </label>
        <div class="item">
            <button class="button button-block button-balanced" ng-click="scramblePassword()">
                Scramble
            </button>
        </div>
    </div>
    <div class="row" ng-show="data.scrambledPassword">
        <div class="col col-75 password stable-bg" ng-click="showPassword()">
            <span class="dark">{{data.scrambledPassword}}</span>
        </div>
        <div class="col col-center">
            <button class="button button-small icon-left ion-clipboard" ng-click="copyToClipboard()">
                Copy
            </button>
        </div>
    </div>
    <div class="row" ng-hide="data.scrambledPassword">
        <div class="col-100">
            <p style="text-align: center">Enter a password, choose a service and hit <b>Scramble</b>. The scrambler function takes your master password and the service and generates a password
            for you. If you want to add a service or update the scrambler function, go to the setting menu.</p>
        </div>
    </div>
</content>
