<!--
  This template loads for the 'home' state (app.js)
-->
<view title="'Home'">
    <content has-header="true">
        <div class="list card">
            <label class="item item-input">
                <input id="master" type="text" placeholder="Master Password" ng-model="data.masterPassword" ng-keyup="scrambleOnReturn($event)"/>
                <button class="button button-small button-clear icon-right ion-close-circled" ng-click="reset()"
                        ng-show="data.masterPassword">Clear
                </button>
            </label>
            <label class="item item-input">
                <span class="input-label">Service</span>
                <select ng-model="data.service" ng-options="s.name for s in services"></select>
                &#160;
                <button class="button button-small" ng-click="addService()">
                    Add
                </button>
            </label>
            <button class="button button-block button-balanced" ng-click="scramblePassword()">
                Scramble
            </button>
        </div>
        <div class="padding" ng-show="data.scrambledPassword">
            <label class="input-label password">
                <input type="text" ng-model="data.scrambledPassword" readonly/>
            </label>
        </div>
    </content>
</view>
