<div class="modal">
    <header class="bar bar-header bar-light">
    </header>
    <content has-header="true">
        <div class="padding">
            <div class="row" ng-show="data.scrambledPassword">
                <div class="col col-75 password stable-bg">
                    <span class="dark">{{data.scrambledPassword}}</span>
                </div>
                <div class="col col-center">
                    <button class="button button-small icon-left ion-clipboard" ng-click="copyToClipboard()">
                        Copy
                    </button>
                </div>
            </div>
        </div>
    </content>
</div>