@import "ionic/ionic";

/* Services select box */
.services {
  min-width: 150px;
}

.password {
  line-height: 3em;
  text-align: center;
}

.password-big {
  line-height: 6em;
  text-align: center;
  margin-top: 50px;
}

.password-big span {
  font-size: 3.5em;
  font-weight: bold;
  letter-spacing: 1em;
  vertical-align: middle;
  line-height: normal;
}
.password span {
  font-size: 2em;
  font-weight: bold;
  letter-spacing: 0.2em;
  vertical-align: middle;
  line-height: normal;
}