
/* Services select box */
.services {
  min-width: 180px;
  min-height: 34px;
}

.password {
  line-height: 3em;
  text-align: center;
}

.password-big {
  line-height: 6em;
  text-align: center;
  margin-top: 50px;
}

.password-big span {
  font-size: 3.5em;
  font-weight: bold;
  letter-spacing: 1em;
  vertical-align: middle;
  line-height: normal;
}
.password span {
  font-size: 2em;
  font-weight: bold;
  letter-spacing: 0.2em;
  vertical-align: middle;
  line-height: normal;
}

// Colors
// -------------------------------

$light:                 #fff !default;
$stable:                #f8f8f8 !default;
$positive:              #34495e !default; //#4a87ee;
$calm:                  #40A7CF !default; //#43cee6;
$balanced:              #48c9b0 !default; //#66cc33
$energized:             #f5d313 !default;
$assertive:             #ec7063 !default;
$royal:                 #8a6de9 !default;
$dark:                  #444 !default;

@import "ionic/ionic";